<% include ./partials/header.ejs %>
    <img src="/images/uploads/<%= user.profileImage %>">
    <div>
      <div><%= user.profileImage %></div>
      <button id="editbtn">edit picture</button>
    </div>
    <form action="/update" method="post" enctype="multipart/form-data">
        <input type="text" name="name" value="<%= user.name %>">
        <input id="imageinput" hidden type="file" name="image">
        <textarea name="bio"><%= user.bio %> </textarea>
        <button type="submit">Submit</button>
    </form>
    <script>
      document.querySelector("#editbtn").addEventListener("click",function(){
        document.querySelector("#imageinput").click();
      })
    </script>
<% include ./partials/footer.ejs %>