<% include ./partials/header.ejs %>
<div class="flex justify-center">
<% post.reverse().forEach(function(elem){%>    
              <div class="card w-1/2">
                <img class="bd-placeholder-img card-img-top" src="/images/uploads/<%= elem.cover %>">
                <div class="card-body">
                  <p class="card-text"> <%= elem.heading %><br> <%= elem.date %><br> <%= elem.body %> </p>
                </div>
              </div>
        <% }); %>
    </div>