<% include ./partials/header.ejs %>
<main class="form-signin m-auto container" style="width: 20%;">
  <form novalidate method="post" action="/register">
    <img class="mb-4" src="/images/logo.jpg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

    <div class="form-floating">
      <input type="text" id="name" name="name" class="form-control" id="floatingInput" placeholder="Name"  required >
      <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating">
      <input type="text" id="Username" name="username" class="form-control" id="floatingInput" placeholder="name@example.com"  required >
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" id="passwd" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
      <label for="floatingPassword">Password</label>
    </div>
    <span>Already have an account ? <a href="/login">Log In</a></span>

    <button class="btn btn-primary w-100 py-2" type="submit">Sign Up</button>
    <!-- <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p> -->
  </form>
</main>
<!-- <div class="flex justify-center items-center h-screen w-screen bg-amber-400">
  <div class="h-1/2 bg-amber-400">
    <form novalidate method="post" action="/register">
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div>
        <label for="Username">Username</label>
        <div>
          <input type="text" id="Username"  name="username" required>
        </div>
      </div>
      <div>
        <label for="passwd">Password</label>
        <input id="passwd" name="password" type="password" required>
      </div>
      <span>Already have an account ? <a href="/login">Log In</a></span>
      <div>
        <button type="submit">Submit form</button>
      </div>
    </form>
  </div>
</div> -->
  <% include ./partials/footer.ejs %>